<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Home page</title>
        <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "node_modules/bootstrap-icons/font/bootstrap-icons.css" %}">

        <style>
            body{
                background-color:rgba(124, 199, 240, 0.45);
              }
            ul{
                margin-left: 77%;
              }
              
              
  
           
        </style>

    </head>
    <body class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid me-auto">
            
              <span class="bi bi-hospital-fill text-white"></span><a class="navbar-brand" href="#">&nbspNTH Hospital</a>
              
            
              <div class=" navbar-collapse " id="navbarNav">
                <ul class="navbar-nav justify-content-between">
                    <li class='nav-item'>
                        <span class='bi bi-whatsapp text-white fs-5'></span>
                    </li>
                  <li class="nav-item">
                    <li class='nav-item'>
                        <span class='bi bi-facebook text-white fs-5 ms-3'></span>
                    </li>
                  <li class="nav-item">
                    <li class='nav-item'>
                        <span class='bi bi-instagram text-white fs-5 ms-3'></span>
                    </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-primary ms-5" href="/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


          <div class="container mt-3">
            <div>
                <h3 class="text-center  bg-success p-2 rounded">List of Appointments</h3>
            </div>
            {% if acceptapp1 %}
            <table class="table table-hover appointment-table mt-2">
                <thead class="table-header">
                    <tr>
                        <th scope="col">Reference No</th>
                        <th scope="col">PatientName</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">City</th>
                        <th scope="col">Problem</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for a in acceptapp1 %}
                    <tr>
                        <th scope="row">{{a.ref_no}}</th>
                        <td>{{a.patient_name}}</td>
                        <td>{{a.age}}</td>
                        <td>{{a.gender}}</td>
                        <td>{{a.mobile}}</td>
                        <td>{{a.city}}</td>
                        <td>{{a.problem}}</td>
                        <td><a class="btn btn-sm btn-outline-danger" href='/remove/{{a.ref_no}}'>Remove</a>
                            
                    </tr>
                    {% endfor %}
                    
                    <!-- Add more rows as needed -->
                </tbody>
                {% else %}
                <h4 class='text-center mt-5'>No Records Found</h4>
                {% endif %}
            </table>
            <p class="mt-5 fst-italic text-dark.">*The only appointments which has been accepted will be shown here</p>
        </div>
    </body>
</html>